// Place all the styles related to the Covers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover {
    height: 350px;
    width: 100vw;
    // background: url(<%= @Cover.path %>);
    background-size: 100%;
}