<%= render "layouts/nav" %>
<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<div class="d-flex justify-content-center">
    <%= link_to 'Back',  @category ,class: "btn btn-outline-secondary"%>
</div>