<%= render "layouts/nav" %>

<br><br>
<div class="d-flex justify-content-center">
    <h2 class="mx-4 mt-4">Editing Category</h2>
</div>

<%= render 'form', category: @category %>

<div class="d-flex justify-content-center">
    <%= link_to 'Back',  @category ,class: "btn btn-outline-secondary"%>
</div>